<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>게시글 읽기</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>게시글 읽기</h2>
  </div>
  <form th:object="${boardDto}">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" th:field="*{title}" readonly>
    </div>

    <div class="form-group">
      <label for="content">내용</label>
      <textarea class="form-control" id="content" th:field="*{content}" rows="10" readonly>
        게시글 내용
      </textarea>
    </div>
  </form>
  <div class="btn-group" role="group">
    <a th:href="@{/board/edit/{id}(id=${boardDto.boardId})}" class="btn btn-primary mr-2">수정</a>
    </form>
    <form th:action="@{/board/{id}(id=${boardDto.boardId})}" method="post">
      <input type="hidden" name="_method" value="delete"/>
      <button type="submit" class="btn btn-primary mr-2">삭제</button>
    </form>
    <a th:href="@{/board}" class="btn btn-primary">목록</a>
  </div>
</div>

<script src="/js/bootstrap.js"></script>
</body>
</html>